extends layout

block content
    div(id="hd") 
        h1 Yes, I am a mechanic. But you just cant beat this computer stuff

block leftTop 
    div(id="lt") 
        h2 exttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttext texttextt exttextte xttexttex thitextte xttexttex ttexttext texttextt exttextte xttexthit exttextte xttexttex ttexttext texttextt exttextte xthitextt exttextte xttexttex ttexttext texttextt exttexthi texttextt exttextte xttexttex ttexttext texttextt exthitext texttextt exttextte xttexttex ttexttext texttexth itexttext texttextt exttextte xttexttex ttexttext texthitex ttexttext texttextt exttextte xttexttex ttexttext hitexttex ttexttext texttextt exttextte xttexttex ttexthite xttexttex ttexttext texttextt exttextte xttexttext

block rightTop 
    div(id="rt") 
        h3 texttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttex thitextte xttexttex ttexttext texttextt exttextte xttexthit exttextte xttexttex ttexttext texttextt exttextte xthitextt exttextte xttexttex ttexttext texttextt exttexthi texttextt exttextte xttexttex ttexttext texttextt exthitext texttextt exttextte xttexttex ttexttext texttexth itexttext texttextt exttextte xttexttex ttexttext texthitex ttexttext texttextt exttextte xttexttex ttexttext hitexttex ttexttext texttextt exttextte xttexttex ttexthite xttexttex ttexttext texttextt exttextte xttexttext

block leftBot   
    div(id="lb") 
        h4 texttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttex thitextte xttexttex ttexttext texttextt exttextte xttexthit exttextte xttexttex ttexttext texttextt exttextte xthitextt exttextte xttexttex ttexttext texttextt exttexthi texttextt exttextte xttexttex ttexttext texttextt exthitext texttextt exttextte xttexttex ttexttext texttexth itexttext texttextt exttextte xttexttex ttexttext texthitex ttexttext texttextt exttextte xttexttex ttexttext hitexttex ttexttext texttextt exttextte xttexttex ttexthite xttexttex ttexttext texttextt exttextte xttexttext

block rightBot 
    div(id="rb") 
        h5 hitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttexthitexttexttexttexttexttexttexttexttexttexttexttext
