body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1, h2, h3, h4 {
    overflow-wrap:break-word;
}

div {
    overflow: hidden;
}

#hd {
    grid-area: hd;
    grid-column: span 4;
    grid-row: 100px;
}



/*{ Top row }*/
#lt {
    grid-area: lt;
}

#rt {
    grid-area: rt;
}


/*{ Bot row }*/
#lb {
    grid-area: lb;
}

#rb {
    grid-area: rb;
}

#container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: "hd hd hd hd" "lt lt rt rt" "lb lb rb rb" "bt bt bt bt";
}

